body {
  font-family: "Raleway", sans-serif;
  font-size: 1.3rem;
}

/* Hero Section */
#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right center;
  min-height: 750px;
  position: relative;
}

/* Mis trabajos */
#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* Contacto */
#Contacto form label {
  font-weight: 700;
  color: #373a3c;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
  max-width: 40%;
  position: relative;
  z-index: 2;
  transform: translateY(45px);
}

.intro h1 {
  font-size: 5rem;
  color: #1e7985;
}

.intro p {
  font-size: 1.4rem;
  color: #8fb3d4;
}

@media (max-width: 991px) {
  #Hero-Section::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(7, 85, 109, 0.534);
    z-index: 1;
  }

  .intro {
    z-index: 2;
    text-align: center;
    justify-content: center;
    max-width: 100%;
  }
}

@media (max-width: 575px) {
  .intro h1 {
    font-size: 2.5rem;
  }

  .intro p {
    font-size: 1rem;
  }
}

.pie {
  max-height: 100px;
}
